/* Retirar o padrão css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #CA96D9;
}

/* Resoluções da tela */
@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* Escrita */
header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 230vw;
    height: 60vh;
    background-position: center;
    background-image: url(https://i.pinimg.com/originals/29/57/d9/2957d99bf220c6a37bac7702959736cc.gif);
}
/*  GIFS
https://i.pinimg.com/originals/05/5b/f5/055bf5050b4d22254e096920f9bef5ce.gif
https://media.giphy.com/media/cM2jGL4t1azcHV83Ba/giphy.gif
https://i.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.webp
https://i.pinimg.com/originals/02/05/78/0205780554435370d8ab73a29c8da92f.gif
https://i.pinimg.com/originals/82/36/03/8236033ffb44963dbe1dcc5cad825151.gif
https://i.pinimg.com/originals/29/57/d9/2957d99bf220c6a37bac7702959736cc.gif
*/

@media (min-width: 830px) {
    header {
        background-size: 100vw ;
        height: 70vh;
    }
}

@media (min-width: 600px) {
    header {
        height: 70vh;
    }
}

@media (max-width: 375px) {
    header {
        background-size: 280vw;
        height: 70vh;
    }
}

.título {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: ease 1s animaçãoTítulo forwards;
}

.contato h2 {
    color: white;
    font-size: 1.5em;;
}

@keyframes animaçãoTítulo {
    to {
        transform: scale(1) translate(0);
        opacity: 1;
    }
}

.sobre h2,
.portfólio h2 {
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 0.9em;
    font-size: 2.1em;
}

.sobre p {
    text-indent: 3em;
    margin-bottom: 1.5em;
    color: white;
}

.sobre a {
    color: rgb(113, 40, 161);
}

.sobre a:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {
    container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Configurações do menu */
.menu a {
    display: block;
    padding: 10px 20px;
    border-radius: 7px;
    transition: background 500ms;

}

.menu a:active,
.menu a:hover {
    background-color:rgb(154, 98, 184);
    color: white;
}

.menu {
    background-color: #B379D9;
    border-radius:10px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    
}

.menu li {
    list-style: none
}

.menu ul {
    display: flex;
    justify-content: space-around;
}


/* Configuração dos links */
a {
    text-decoration: none;
    color: black;
}

/* Confirações dos títulos */
.subtítulo-site,
.título-site {
    color:  rgb(113, 40, 161);
}

.título-site {
    font-size: 3em;
}

.subtítulo-site {
    font-style: oblique;
}

/* Confirações das imagens  */
.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    /* object-position: ; */
    border-radius: 10px;
    transition: transform 240ms;
}

figcaption {
    padding-top: 0.7em;
}

.img-portfolio:active,
.img-portfolio:hover {
    animation: 0.5s animationPicturies forwards;
}

@keyframes animationPicturies {
    100% {
        transform: scale(1.1);
        box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.336);
    }
}

.portfólio figure {
    text-align: center;
}

.grade-contato {
    background-color: #B379D9;
    text-align: center;
}

.sobre {
    margin-top: 4em;
    margin-left: 2em;
}

.portfólio {
    padding: 2em;
}

.sobre .profile {
    float: top;
    text-align: center;
    margin-bottom: 1em;
}
.sobre .profile:active,
.sobre .profile:hover {
    animation: 2s animaçãoPicture infinite;
}

@keyframes animaçãoPicture { 
    100% {
        transform: rotate(400grad);
        transition: 3s ease;
    }
}

@media (min-width: 672px) {
    .sobre .profile {
        float: left;
        margin-right: 3em;
        margin-left: 3em;
    }
}

/* Configurações das colunas */
.portfólio .grid {
    display: grid;
    gap: 2em;
    justify-content: center;
}

@media (min-width: 600px) {
    .portfólio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfólio .grid {
        grid-template-columns: 240px 240px;
        align-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

/* Configurações dos ícones */
.contato a {
    text-align: center;
    font-size: 2em;
    color: white;
    transition: text-shadow 230ms;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 3px 3px  rgb(146, 37, 204);
}